version: '3'

networks:
  keycloak-network:
    driver: bridge

services:

  ## Keycloak instance using https://hub.docker.com/r/jboss/keycloak
  keycloak:
    image: 'jboss/keycloak'
    ports:
      - "8081:8080"
    depends_on:
      - postgres-local
    environment:
      - KEYCLOAK_USER=admin
      - KEYCLOAK_PASSWORD=admin
      #- KEYCLOAK_HOSTNAME=localhost
      #- KEYCLOAK_HTTP_PORT=8080
      #- KEYCLOAK_HTTPS_PORT=8443
      - KEYCLOAK_LOGLEVEL=WARN
      - ROOT_LOGLEVEL=INFO
      # using custom DB
      - DBVENDOR=postgres
      - DB_ADDR=postgres-local
      - DB_PORT=5432
      - DB_DATABASE=keycloak
      - DB_USER=keycloak
      - DB_PASSWORD=postgrespwd
    networks:
      - keycloak-network
    #volumes:
    #  - ./docker-data-keycloak:/opt/jboss/keycloak

  ## DB instance using https://hub.docker.com/r/bitnami/postgresql
  postgres-local:
    image: 'bitnami/postgresql:latest'
    ports:
      - "5432:5432"
    environment:
      - POSTGRESQL_DATABASE=keycloak
      - POSTGRES_USER=keycloak
      - POSTGRES_PASSWORD=postgrespwd
      #- ALLOW_EMPTY_PASSWORD=yes
    networks:
      - keycloak-network
    volumes:
      - ./docker-data-postgresql:/bitnami

# NB! if you want to include Ref-APPs in docker-compose, see example below...
  ## Reference APP using Spring-Boot
  #keycloak-springboot:
  #  build: ./keycloak-springboot
  #  image: zeusbaba/keycloak-springboot:1.0.0
  #  ports:
  #    - "8022:8022"
  #  networks:
  #    - keycloak-network
  #  depends_on:
  #    - keycloak

  ## Reference APP using Vue.js
  #keycloak-vuejs:
  #  build: ./keycloak-vuejs
  #  image: zeusbaba/keycloak-vuejs:1.0.0
  #  ports:
  #    - "8024:8024"
  #  environment:
  #    - NODE_ENV=development
  #  networks:
  #    - keycloak-network
  #  depends_on:
  #    - keycloak

  ## Reference APP using Golang
  #keycloak-springboot:
  #  build: ./keycloak-golang
  #  image: zeusbaba/keycloak-golang:1.0.0
  #  ports:
  #    - "8026:8026"
  #  networks:
  #    - keycloak-network
  #  depends_on:
  #    - keycloak
